asn1crypto==1.5.1
blinker==1.9.0
cbor2==5.8.0
cffi==2.0.0
click==8.1.8
colorama==0.4.6
cryptography==46.0.4
dnspython==2.7.0
flask==3.1.2
flask-cors==6.0.2
importlib-metadata==8.7.1
itsdangerous==2.2.0
jinja2==3.1.6
markupsafe==3.0.3
pillow==11.3.0
pycparser==2.23
pymongo==4.16.0
pyopenssl==25.3.0
pyotp==2.9.0
qrcode==8.2
typing-extensions==4.15.0
webauthn==2.7.0
werkzeug==3.1.5
zipp==3.23.0

# Voice Recognition Dependencies
openai-whisper
imageio-ffmpeg
fastdtw==0.3.4
numpy>=1.24.0
